body {

    background-color:black;

    text-align: center;

    
}

p{
    color: aliceblue;
}

h1{
    text-align: center;
    color: aliceblue;

}

h3{

    color: aliceblue;

    text-align: left;
    text-align: end;
}
